.flight-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dde8f9; /* Light background color */
  border-radius: 25px; /* Rounded corners */
  padding: 10px 20px;
  width: 70%; /* Adjust this width as per your layout */
  margin: 20px auto; /* Center it horizontally */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

.flight-info-item {
  color: #000080; /* Dark blue text color */
  font-size: 18px;
  font-weight: 600;
}

.flight-info-divider {
  border-left: 1px dotted #000080; /* Dotted divider */
  height: 20px;
  margin: 0 20px;
}

.flight-info-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flight-info-edit img {
  width: 20px; /* Adjust size as needed */
  cursor: pointer;
}

.flight-search {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.flight-result {
  border: 2px solid #fcfdfe;
  border-radius: 8px;
  background-color: #d7dceb;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.flight-details-left {
  width: 25%;
  text-align: left;
}

.flight-details-left h3 {
  color: #004080;
  margin-bottom: 5px;
}

.flight-details-left .time {
  color: #333;
  font-weight: bold;
  margin-top: 5px;
}

.flight-info-center {
  width: 40%;
  text-align: center;
}

.flight-info-center p {
  margin: 5px 0;
  color: #333;
}

.flight-duration {
  color: #808080;
  font-size: 14px;
}

.flight-details-right {
  width: 20%;
  text-align: right;
}

.flight-price {
  text-align: right;
}

.flight-price h3 {
  color: #004080;
  margin-bottom: 10px;
  font-size: 24px;
}

.book-button {
  background-color: #fcb20d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}



.luggage-info {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 14px;
}

.luggage-info img {
  width: 20px;
  margin-left: 5px;
}
